body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
}
#head{
    width: 100%;
     position: fixed;
    top: 0;
    left: 0; 
    z-index: 99;
}
nav{
    margin: 0 auto;
    width: 100%;
    background-color: black;
}

.ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100px;
    
}
.ul li a{
    padding: 10px 15px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
     border-radius: 5px;
    color: white;
    text-decoration: none;
    align-self: center;
    font-size: 20px;
    
}
.ul li a:hover{
   
    color: yellow;
}
.ul li  a.nursen{
    font-size: 35px;
    margin-right: 250px;
}

section{
    width: 100%;
    height: 100vh;
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
   height: 90vh;
   width: 100%;
  background: white;
   position: relative;
  top: 100px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRlRKBPbQi0RHh8zDPuFOpKWxUohLEkZHzUb9HMv34jCjJFnuuy);
}



.welcome{
    width: 75%;
    background-color: black;
    color:white;
    font-weight: 500;
    padding: 60px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 50px;
    box-sizing: border-box;
    border-radius: 15px;
}
.class{
    width:65% ;
    margin-top: 60px;
    box-sizing: border-box;
    padding: 20px 35px;
    background-color: black;
    border-radius: 15px;
    text-align: center;
}

.class p{
    font-size: 25px;
    font-weight: 800;
    color: white;
}

#about{
    background-color: black;
    position: relative;
    top: 100px;
}
#about header {
   width: 30%;
   height: 100px;
   background-color: black;
   color: white;
   font-size: 40px;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   padding: 15px 25px;
   margin-top: 25px;
   box-sizing: border-box;
}
.about-me{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   
}
#about img {
   height: 350px;
   margin-left: 50px;
   margin-right: 50px;
   border-radius: 5px;
  
}
.text{
   padding: 15px;
   border: 1px white solid;
   width: 85%;
   font-size: 22px;
   color:white;
   border-radius: 10px;

}
.text-2{
   padding: 15px;
   border: 1px white solid; 
   width: 85%;
   font-size: 22px;
   color: white;
   border-radius: 10px;
}
.img{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.information{
   display: flex;
   flex-direction: column;
}
.information>*{
   margin: 25px;
   box-sizing: border-box;
}
#services{
    border-top:4px solid white ;
    width: 100%;
    background-color: black;
    height: 100vh;
    position: relative;
    top: 100px;
}
#services header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    margin-top: 25px;
}


#services header div{
    margin-bottom: 55px;
     color: white;
    width: 30%;
     border: 1px solid white;
      border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
}
.text img {
    height: 80px;
    width: 80px;
}

.text{
    display: flex;
    justify-content: space-evenly;
    margin-top: -50px;
}
.text>div {
    border-radius: 10px;
    border: white  1px solid;
    padding: 20px;
    width: 30%;
    margin: 15px;
    text-align: center;
    color: white;
    transition: 0.4s;
    box-sizing: border-box;
}
.text > div:hover{
    transform: translateY(-10px) ;
}
.text>h2{
    padding-bottom: 30px;

}
.text-2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.text-2  img {
    width: 80px;
    height: 80px;
}
.text-2 > div{
    padding: 20px;
    width: 30%;
    margin: 15px;
    text-align: center;
    color: white;
    border: white 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.5s;
}
.text-2 > div:hover{
    transform: translateY(-10px) ;
}